.layout_container > svg:first-child {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
}

.layout_container > svg:last-child {
  position: fixed;
  bottom: 0;
  z-index: -3;
  width: 100%;
}

.layout_container {
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

@media screen and (max-width: 460px) {
  .layout_container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-scroll-snap-type: x;
    scroll-snap-type: x;
  }
}
